<div style="margin: 5px 0; font-size: 0.9em; color: gray">
    <span>本视频一切权利归 <strong>bilibili</strong> 及 <strong>原作者</strong> 所有。如果觉得好，请点击跳转到 <a href="https://www.bilibili.com/video/{{.Get 0}}/"> <strong>bilibili</strong></a> 给予支持。如无法打开视频，请点击 <a href="https://www.bilibili.com/video/{{.Get 0}}/"><strong>这里</strong></a> </strong>跳转到B站观看。</span>
</div>

<div style="position:relative; padding-bottom:75%; width:100%; height:0">
    <iframe
        src="//bilibili.com/blackboard/html5mobileplayer.html?bvid={{.Get 0}}&p={{.Get 1}}&hideCoverInfo=1&danmaku=0"
        scrolling="no"
        border="0"
        frameborder="no"
        framespacing="0"
        allowfullscreen="true"
        style="position:absolute; height: 100%; width: 100%;">
    </iframe>
</div> 